@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

$bg-color: #eae7e2; //light beige
$base-color: #d7c5b9; //beige
$point-color: #cfb2b4; //deep beige
$text-color: #736e72; //dark beige
$text-color-reverse: white;

@mixin block-style{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@mixin button-style{
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 10px;
  padding: 10px;
  border: 1px solid $base-color;
  text-align: center;

  position: relative;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
  margin: 0 auto;

  border-radius: 25px;
  color: $text-color;
  height: 30px;
  line-height: 30px;
  font-size:20px;
  font-weight: 700;
  &:after{
    position: absolute;
    -webkit-transition: .5s;
    transition: .5s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: $base-color;
    height: 120%;
    left: -10%;
    -webkit-transform: skewX(15deg);
            transform: skewX(15deg);
    z-index: -1;
  }
  &:hover{
    transform: scale(1.05);
    cursor: pointer;
    &:after{
      width: 100%;
      left: 0;
    }
    &:nth-of-type(1) {
      color: white;
      &:after{
        left: -10%;
        width: 120%;
      }
    }
  }
}
@mixin container-style{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;

  margin: 0 auto;
  width: 300px;
}

body{
  @include block-style;

  width: 100%;

  background-color: $bg-color;
  font-family: 'Nanum Gothic', sans-serif;
}

h1{
  display:none;
}

mark{
  font-size: 1.1em;
  color: $text-color-reverse;
  background-color: $point-color;

  padding: 5px;
  margin-top: 50px;
}

.box{
  @include block-style;
  display: flex;
  height: 500px;
  width: 360px;
  margin-top: 130px;
  flex-direction: column;
  align-items:center;
}

.main__title{
  @include block-style;
  margin-bottom: 100px;
  img{
    @include block-style;
  }
}

.main__container {
  @include container-style;
}

.main__button{
  @include block-style;
}

.main__button--start {
  @include button-style;
}

.main__button--name{
  @include block-style;
  width: 200px;
  height: 50px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 16px;
  border: solid 0.75px rgba(51, 51, 51, 0.3);
  border-radius: 32px;
  background-color: #ffffff;
  font-size: 20px;
  text-align: center;
  &:focus{
    outline:none;
  }
}

.question{
  display: none;
}

#questionSex{
  margin-top: 30px;
}

.question__page{
  display: block;
  text-align: right;
  position: relative;
  top: -10px;
  color: $text-color;
}

.question__title{
  height: 70px;
  line-height: 40px;
  text-align: center;
}

.question__container{
  @include container-style;

  display: table;
  margin: 50px auto -15px auto;
}

.question__button{
  @include button-style;
  height: 50px;
  border-radius: 40px;

  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.picture{
  display:none;
  margin-top: -50px;
}

.picture__title{
  @extend .question__title;
}

.picture__upload {
  background-color: #ffffff;
  width: 300px;
  height: 300px;
  border-radius: 30px;
  margin-bottom: 30px;
}

.picture__upload--content {
  display: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 300px;
  img{
    height: 300px;
    width: 300px;
  }
}

.picture__upload--image {
  object-fit: cover;
  vertical-align: middle;
  border-radius: 30px;
}


.picture__upload--wrap {
  display:none;
}

.picture__upload--text{
  @include block-style;
  text-align: center;
  line-height: 300px;
  color: white;
  font-size: 20px;
  span{
    background-color: #d7c5b9;
    padding: 5px;
  }
}

.picture__container {
  @include container-style;
  margin-top: 10px;
  // margin-bottom: 0px;
  width: 200px;
}

.picture__button {
  @include button-style;
  line-height: 20px;
  height: 20px;
}

.process{
  display:none;
}

.process__loading {
  width: 100px;
  height: 100px;
  margin-top: 50px;
  margin-bottom: 150px;
  margin-left: auto;
  margin-right: auto;
  background: none;
}

.process__loading > div {
  width: 60px;
  height: 60px;
  position: relative;
  left: 50%;
  margin-left: -30px;
  top: 50%;
  margin-top: -30px;
}

.process__loading > div > div {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background: $base-color;
  top: 10px;
  left: 10px;
  transform-origin: 20px 20px;
  border-radius: 8px;
  animation: spin-a 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
}

.process__loading > div > .process__object--2 {
  top: 10px;
  left: auto;
  right: 10px;
  transform-origin: -4px 20px;
  animation: spin-b 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
}
.process__loading > div > .process__object--3 {
  top: auto;
  left: auto;
  right: 10px;
  bottom: 10px;
  transform-origin: -4px -4px;
  animation: spin-c 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
}
.process__loading > div > .process__object--4 {
  top: auto;
  bottom: 10px;
  transform-origin: 20px -4px;
  animation: spin-d 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
}

@keyframes spin-a {
  0%   { transform: rotate(90deg); }
  0%  { transform: rotate(90deg); }
  50%  { transform: rotate(180deg); }
  75%  { transform: rotate(270deg); }
  100% { transform: rotate(360deg); }
}
@keyframes spin-b {
  0%   { transform: rotate(90deg); }
  25%  { transform: rotate(90deg); }
  25%  { transform: rotate(180deg); }
  75%  { transform: rotate(270deg); }
  100% { transform: rotate(360deg); }
}
@keyframes spin-c {
  0%   { transform: rotate(90deg); }
  25%  { transform: rotate(90deg); }
  50%  { transform: rotate(180deg); }
  50%  { transform: rotate(270deg); }
  100% { transform: rotate(360deg); }
}
@keyframes spin-d {
  0%   { transform: rotate(90deg); }
  25%  { transform: rotate(90deg); }
  50%  { transform: rotate(180deg); }
  75%  { transform: rotate(270deg); }
  75% { transform: rotate(360deg); }
  100% { transform: rotate(360deg); }
}

.result{
  display: none;
  margin-top: -50px;
}

.result__title{
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  background-color: $base-color;
  color:white;
  padding: 3px;
}

.result__container{
  @include container-style;
  width: 200px;
}

.result__image{
  @include block-style;
  background-color: white;
  width: 300px;
  height: 300px;
  border-radius: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.result__compare{
  display: flex;
  justify-content: space-around;
  margin-bottom: 35px;
}

.result__compare--box{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result__image--small{
  display: inline-block;
  background-color: white;
  width: 125px;
  height: 125px;
  border-radius: 15px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.result__image--text{
  display:block;
  margin-bottom: 25x;
  color: $text-color;
}

.result__textbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 15px;
  width: 301px;
}

.result__text{
  color: $text-color;
  font-size: 17px;
  width: 250px;
}

.result__text--header{
  text-align: center;
  color: $text-color;
}

.result__text--bold{
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  margin-top: 5px;
  margin-bottom: 25px;
}

.result__button{
  @include button-style;
}

.result__logo{
  @include block-style;
  display: none;
  margin-top: 30px;
  padding-bottom: 30px;
  transition: .5s;
  &:hover{
    transform: scale(1.1);
  }
  img{
    @include block-style;
  }
}

.box__logo{
  @include block-style;
  position: absolute;
  bottom:5%;
  left: 50%;
  transition: .5s;
  img{
    @include block-style;
    transform: translateX(-50%);
  }
  &:hover{
    transform: scale(1.1);
    left:50.6%;
  }
}

.ad{
  position:absolute;
  top: 0;
}

//for addthis
.at-share-btn-elements{
  text-align: center;
  margin-bottom: 20px;
}

//for addthis
.at-share-btn-elements a:focus{
  border: none;
  outline: none;
}

@media (max-width : 361px){
  body{
    width: 360px;
  }
}
